{% load staticfiles %}
{% load i18n %}
{% load tz %}
<link rel="stylesheet" href="{% static 'css/app/social/social.css' %}">
<div class="col-12 pl-0 pr-0 mb-5">
    {% for message in messages%}
    <div id="msg_root" data-val="{{message.id}}" class="col-12 pl-0 pr-0 d-lg-flex mb-3" style="background-color: #f5f6f8; font-weight: bold;">
        {% if message.amount %}
            <div class="col-12 col-lg-4">{% blocktrans %}Fecha{% endblocktrans%}: {{message.created|date:"Y-m-d"}}</div>
            <div class="col-12 col-lg-4">{% blocktrans %}Asunto{% endblocktrans%}: {{message.subject}}</div>
            <div class="col-12 col-lg-4">{% blocktrans %}Cantidad{% endblocktrans%}: {{message.amount}}</div>
        {% else %}
            <div class="col-12 col-lg-5">{% blocktrans %}Fecha{% endblocktrans%}: {{message.created|date:"Y-m-d"}}</div>
            <div class="col-12 col-lg-6">{% blocktrans %}Asunto{% endblocktrans%}: {{message.subject}}</div>
        {% endif %}
    </div>
    {% endfor %}
    {% if extended %}
        <div id="container-extend-msg">
            {% for extend in extended %}
                <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                        {% if extend.mailer.picture %}
                            <img class="user_img_msg" src="{{ extend.mailer.picture.url }}">
                        {% else %}
                            <img class="user_img_msg" src="{% static 'img/userdefault.jpeg' %}">
                        {% endif %}
                    </div>
                    {% if extend.mailer != request.user %}
                        <div class="messenger_cotainer col-11">
                            {{extend.message|safe|escape}}
                            <span class="msg_time">{{extend.created|timezone:zone}}</span>
                        </div>
                    {% else %}
                        <div class="messenger_cotainer_send col-11">
                            {{extend.message|safe|escape}}
                            <span class="msg_time_send">
                                {{extend.created|timezone:zone}}
                            </span>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div id="container-extend-msg" style="padding: 0px;" class="col-12"></div>
    {% endif %}
    {% for extend in messages%}
        <div class="d-flex justify-content-start mb-4">
            <div class="img_cont_msg">
                {% if extend.mailer.picture %}
                    <img class="user_img_msg" src="{{ extend.mailer.picture.url }}">
                {% else %}
                    <img class="user_img_msg" src="{% static 'img/userdefault.jpeg' %}">
                {% endif %}
            </div>
            {% if extend.mailer != request.user %}
                <div class="messenger_cotainer col-11">
                    {{extend.message|safe|escape}}
                    <span class="msg_time">{{extend.created|timezone:zone}}</span>
                </div>
            {% else %}
                <div class="messenger_cotainer_send col-11">
                    {{extend.message|safe|escape}}
                    <span class="msg_time_send">
                        {{extend.created|timezone:zone}}
                    </span>
                </div>
            {% endif %}
        </div>
        
    {% endfor %}
</div>