{% load staticfiles %}
{% load i18n %}
{% load tz %}
{% for message in messages%}
    {% if message.mailer != request.user %}
        <div class="d-flex justify-content-start mb-4">
            <div class="img_cont_msg">
                {% if message.mailer.picture %}
                    <img class="user_img_msg" src="{{ message.mailer.picture.url }}">
                {% else %}
                    <img class="user_img_msg" src="{% static 'img/userdefault.jpeg' %}">
                {% endif %}
            </div>
            <div class="msg_cotainer">
                {{message.message|safe|escape}}
                <span class="msg_time">{{message.created|timezone:zone}}</span>
            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-end mb-4">
            <div class="msg_cotainer_send">
                {{message.message|safe|escape}}
                <span class="msg_time_send">
                    {{message.created|timezone:zone}}
                    {% if message.read == True %}
                        &nbsp;&nbsp;&nbsp;<i class="fas fa-check-double" style="color: green;"></i>
                    {% else %}
                        &nbsp;&nbsp;&nbsp;<i class="fas fa-check-double" style="color: rgb(206, 205, 205);"></i>
                    {% endif %}
                </span>

            </div>
            <div class="img_cont_msg">
                {% if message.mailer.picture %}
                    <img class="user_img_msg" src="{{ message.mailer.picture.url }}">
                {% else %}
                    <img class="user_img_msg" src="{% static 'img/userdefault.jpeg' %}">
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}