*.pyc
*.html~
.sass-cache/
*.css.map
*.log
npm-debug.log*
node_modules
*__pycache__
__pycache__/
*localdb
*localdb-journal
*testdb
*db.sqlite3
*settings.py
**/migrations/**
*.vscode/
*catalogue/

*medcombo/media/company/video/*
*medcombo/media/product/video/*
