{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
{% include '../../slide_company.html' %}
{% include '../../menu-myweb.html' %}
<div class="container" style="padding-top: 30px; min-height: 250px;">
  <div class="row">
    <div class="col-xl-2 d-flex justify-content-center">
      <div>
        {% if company.logo %}
          <p class="text-center">
            <a href="{% url 'my_web_home' company.id %}">
              <img class="img-fluid" src="{{ company.logo.url }}" alt="{{company.name}} of Medcombo's member">
            </a>
            <a href="{% url 'my_web_home' company.id %}">{{ company.name }}</a>
          </p>
        {% else %}
          {% if product.company.logo %}
            <a href="{% url 'my_web_home' product.company.id %}">
              <img class="img-fluid" src="{{ product.company.logo.url }}" alt="{{product.company.name}} of Medcombo's member">
            </a>
            <p class="text-center">
              <a href="{% url 'my_web_home' product.company.id %}">
                <img class="img-fluid" src="{{ product.company.logo.url }}" alt="{{product.company.name}} of Medcombo's member">
              </a>
              <a href="{% url 'my_web_home' product.company.id %}">{{product.company.name}}</a>
            </p>
          {% else %}
            {% if post.company.logo %}
              <p class="text-center">
                <a href="{% url 'my_web_home' post.company.id %}">
                  <img class="img-fluid" src="{{ post.company.logo.url }}" alt="{{post.company.name}} of Medcombo's member">
                </a>
                <a href="{% url 'my_web_home' post.company.id %}">{{post.company.name}}</a>
              </p>
            {% else %}
              {% if company %}
                <p class="text-center">
                  <a href="{% url 'my_web_home' company.id %}">
                    <img class="img-fluid" src="{% static 'img/company.png' %}">
                  </a>
                  <a href="{% url 'my_web_home' company.id %}">{{ company.name }}</a>
                </p>
              {% else %}
                {% if product %}
                  <p class="text-center">
                    <a href="{% url 'my_web_home' product.company.id %}">
                      <img class="img-fluid" src="{% static 'img/company.png' %}">
                    </a>
                    <a href="{% url 'my_web_home' product.company.id %}">{{ product.company.name }}</a>
                  </p>
                {% else %}
                  {% if post %}
                    <p class="text-center">
                      <a href="{% url 'my_web_home' post.company.id %}">
                        <img class="img-fluid" src="{% static 'img/company.png' %}">
                      </a>
                      <a href="{% url 'my_web_home' post.company.id %}">{{ post.company.name }}</a>
                    </p>
                  {% else %}
                    <a href="{% url 'my_web_home' company.id %}">
                      <img class="img-fluid" src="{% static 'img/company.png' %}">
                    </a>
                    <p class="text-center"></p>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="col-10 col-lg-8">
      {% if descriptions %}
        {% for description in descriptions %}
      <div class="row pb-3"> 
        <div class="col-12 d-flex justify-content-between align-items-end">
          <h4 class="mb-0">{% blocktrans %}Sobre Nosotros{% endblocktrans%}</h4>
        </div>
      </div> 
      <div class="row home-text-nosotros">
        <div class="col-12">
          <h5>{{ description.title }}</h5>
          <p>{{ description.paragraph|safe|escape }}</p>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-12">
          <h4>{% blocktrans %}Presentación{% endblocktrans %}</h4>
        </div>
      </div>
      <div class="row home-text-nosotros mb-5">
        <div class="col-12">
          <video width='100%' controls controlsList="nodownload">
            {% if description.video %}
              <source id="company-video-reload" src='{{ description.video.url }}' type='video/mp4' >
            {% else %}
              <source id="company-video-reload" src='' type='video/mp4' >
            {% endif %}
            {% blocktrans%}Su navegador no soporta la etiqueta de vídeo.{% endblocktrans %}
          </video>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-2"></div>
  </div>
</div>
{% endblock %}