{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
{% include '../slide_search.html' %}
<style type="text/css">
    .none {
        border: none; 
        background-color: white;
        outline:none;
    }
    button:focus {
        outline: none;
    }
	
	.chat_short_button {
		display: flex;
		flex-direction: row;
		margin: 15px 0;
	}
	.chat_short_button button {
		background: #7f9bcd;
		border: transparent;
		padding: 3px 15px;
		border-radius: 45px;
		margin-right: 10px;
	}
</style>
<link rel="stylesheet" href="{% static 'css/icheck-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/tabs.css' %}">
<!--Menu Lateral-->
<div class="social" id="axis">
	{% if user.is_authenticated %}
		<ul>
			<li><a href="{% url 'chat_list' %}" class="icon-facebook"><i class="far fa-comment-alt"></i> {% blocktrans %}Chat{% endblocktrans %}</a></li>
			<li><a href="{% url 'messenger' %}" class="icon-twitter"><i class="far fa-envelope"></i> {% blocktrans %}Mensajes{% endblocktrans %}</a></li>
			<li><a href="{% url 'view_profiledetail' user.pk %}" class="icon-googleplus"><i class="far fa-user"></i> {% blocktrans %}Perfil{% endblocktrans %}</a></li>
			{% if user.company %}
			    <li><a href="{% url 'my_web_home' user.company.pk %}" class="icon-pinterest"><i class="fas fa-globe"></i> {% blocktrans %}My web{% endblocktrans %}</a></li>
			{% else %}
			    <li><a href="{% url 'create_company' %}" class="icon-pinterest"><i class="fas fa-globe"></i> {% blocktrans %}My web{% endblocktrans %}</a></li>
			{% endif %}
		</ul>
	{% else %}
		<ul>
			<li><a href="#" onclick="send_login2(1)" class="icon-facebook"><i class="far fa-comment-alt"></i> {% blocktrans %}Chat{% endblocktrans %}</a></li>
			<li><a href="#" onclick="send_login2(2)" class="icon-twitter"><i class="far fa-envelope"></i> {% blocktrans %}Mensajes{% endblocktrans %}</a></li>
			<li><a href="#" onclick="send_login2(3)" class="icon-googleplus"><i class="far fa-user"></i> {% blocktrans %}Perfil{% endblocktrans %}</a></li>
			<li><a href="#" onclick="send_login2(4)" class="icon-pinterest"><i class="fas fa-globe"></i> {% blocktrans %}My web{% endblocktrans %}</a></li>
		</ul>
		<script>
			/*Login chat and Message*/
			function send_login2(n){
				if(n == 1){
					url = "{% url 'view_login' %}?next={% url 'chat_list' %}";
		        }
				else{
					if(n == 2){
						url = "{% url 'view_login' %}?next={% url 'messenger' %}";
					}
				}
				if(n == 3){
					url = "{% url 'view_login' %}?next={{request.path}}";
				}
				else{
					if(n == 4){
						url = "{% url 'view_login' %}?next={{request.path}}";
                    }
				}
		        $(location).attr('href',url);
	        }
		</script>
	{% endif %}
</div>
<section id="breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 py-2">
                <p class="m-0 text-left">&nbsp;&nbsp;<a href="{% url 'home' %}" >{% blocktrans %}Home{% endblocktrans %}</a> / <a href="javascript:history.back()" id="ToBackssss">{% blocktrans %}Productos{% endblocktrans %}</a> / {{product.name}}</p>    
            </div>
        </div>
    </div>
</section>
<script>
	$('#ToBack').click(function(evt){
		evt.preventDefault();
		var my_url = "{% url 'list_categories' %}";
		var my_value = sessionStorage.getItem('namekey');
		var token = '{{csrf_token}}';
		var my_area;
		var my_category;
		var my_subcategory;
		var my_language = $('#lenguaje-seleccionado').val();
		var country;
		var location;
		$.getJSON('http://api.wipmania.com/jsonp?callback=?', function (data) {
			country = data.address.country;
		});
		setTimeout(function(){
			$.ajax({
				headers: { "X-CSRFToken": '{{csrf_token}}' },
				type: 'POST',
				url: "{% url 'product_country' %}",
				data: {
					'country': country
				},
				success: function(msg){
					location = msg;
				}
			});
			$.ajax({
				headers: { "X-CSRFToken": token },
				type: 'POST',
				url: my_url,
				data: {
					'key': my_value
				},
				success: function(msg){
					my_area = msg[0].toLowerCase().replace(/\//g,"");
					my_category = msg[1].toLowerCase().replace(/\//g,"");
					my_subcategory = msg[2].toLowerCase().replace(/\//g,"");
				}
			});
			setTimeout(function(){
				my_form = $('#form-search-product');
				name= sessionStorage.getItem('namekey')
				url_replace = name.toLowerCase();
				if(url_replace.trim() == ''){
					url_replace = 'empty';
				}
				if(location == undefined) {
					location = 'ESP'
				}
				if(my_area == undefined) {
					my_area = 'area'
				}
				if(my_category == undefined) {
					my_category = 'category'
				}
				if(my_subcategory == undefined) {
					my_subcategory = 'subcategory'
				}
				my_form.attr("action","/"+my_language+"/"+location.toLowerCase()+"/product/"+my_area.replace(/\s/g,"-")+"/"+my_category.replace(/\s/g,"-")+"/"+my_subcategory.replace(/\s/g,"-")+"/"+url_replace.replace(/\s/g,"-")+"/");
				my_form.submit();
			}, 200);
		},150);
	});
</script>
<div class="container-fluid">
	<div class="row p-5"><!--center-box">-->
		<div class="col-md-0 col-lg-2 col-sm-12"></div>
		<div class="col-md-6 col-lg-6 col-sm-12 m-4">
			<div class="row p-4" id="detail-favorite-border">
				{% if isfavorite %}
				    <!--Nothing here-->
				{% else %}
				    <div><button class="iconHeart" id="favorito"><i class="far fa-heart"></i></button></div>
				{% endif %}
				<div class="col-12 col-sm-6" style="position: inherit;" id="container-favorito" data-contact-url="{% url 'ajax_add_favorite' %}">
					<div class="container py-2">
    					<div class="row">
        					<div class="col-lg-8 offset-lg-2" id="slider">
            					<div id="myCarousel" class="carousel slide">
				                	<!-- main slider carousel items -->
				                	<div class="carousel-inner detail-event">
				                    	<div class="active carousel-item" data-slide-number="0">
					                    	{% if product.picture %}
						  					    <img src="{{ product.picture.url }}" style="border-radius:10px;">
											{% else %}
						  					    <img src="{% static 'img/default.png' %}">
											{% endif %}
				                    	</div>
					                    <div class="carousel-item" data-slide-number="1">
					                    	{% if product.picture2 %}
											    <img class="img-fluid" src="{{ product.picture2.url }}">
											{% else %}
												<!--Nothing here-->
											{% endif %}
					                    </div>
					                    <div class="carousel-item" data-slide-number="2">
					                    	{% if product.picture3 %}
											    <img class="img-fluid" src="{{ product.picture3.url }}">
											{% else %}
												<!--Nothing here-->
											{% endif %}
					                    </div>
					                    <div class="carousel-item" data-slide-number="3">
					                    	{% if product.picture4 %}
											    <img class="img-fluid" src="{{ product.picture4.url }}">
											{% else %}
												<!--Nothing here-->
											{% endif %}
					                    </div>
					                    <div class="carousel-item" data-slide-number="4">
					                    	<!-- Grid row -->
											
											<!--Modal: Name-->
											<a><img class="img-fluid z-depth-1" src="{% static 'img/video_play.jpg' %}" alt="video" style="height: auto;" data-toggle="modal" data-target="#modal1"></a>
					                    	<!--Video-->
					                    </div>
				                	</div>
				                	<!-- main slider carousel nav controls -->
					                <ul class="carousel-indicators list-inline mx-auto px-2 pt-3">
					                    <li class="list-inline-item active">
					                        <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
					                        	{% if product.picture %}
												    <img class="img-fluid" src="{{ product.picture.url }}" style="height: auto; width: 60px;">
												{% else %}
													<!--Nothing here-->
												{% endif %}
					                        </a>
					                    </li>
					                    <li class="list-inline-item" >
					                        <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
					                        	{% if product.picture2 %}
												    <img class="img-fluid" src="{{ product.picture2.url }}" style="height: auto;width: 60px;">
												{% else %}
													<!--Nothing here-->
												{% endif %}
					                        </a>
					                    </li>
					                    <li class="list-inline-item">
					                        <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
					                        	{% if product.picture3 %}
												    <img class="img-fluid" src="{{ product.picture3.url }}" style="height: auto;width: 60px;">
												{% else %}
													<!--Nothing here-->
												{% endif %}
					                        </a>
					                    </li>
					                    <li class="list-inline-item">
					                        <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
					                        	{% if product.picture4 %}
												    <img class="img-fluid" src="{{ product.picture4.url }}" style="height: auto;width: 60px;">
												{% else %}
													<!--Nothing here-->
												{% endif %}
					                            <!--<img src="http://placehold.it/80x60&amp;text=five" class="img-fluid">-->
					                        </a>
					                    </li>
					                    <li class="list-inline-item">
					                        <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
    											{% if product.video %}
    												<img class="img-fluid" src="{% static 'img/play.png' %}" style="height: auto;width: 60px;">
												{% else %}
												    <!--Nothing here-->
    											{% endif %}
					                        </a>
					                    </li>
					                </ul>
				            	</div>
				        	</div>
    					</div>
					</div><!--/main slider carousel-->
				</div>
				<div class="col-12 col-sm-6 pull-left" id="container-user-plus" data-contact-url="{% url 'ajax_add_contact' %}" novalidate>
					<h5 class="pb-3" style="text-align: left;color: #595959">{{product.name}}</h5>
					<span class="d-flex pb-3">
						<span class="jRating" id="jRating1">
							<span class="jRating-star" index="0"> </span>
							<span index="1" style="padding-left: 10px;font-size: 13px;font-weight: bold;">{{rating_avr}}</span>
							<span index="1" style="padding-left: 5px;font-size: 12px;">({{rating_users}} valoraciones)</span>
							<span class="jRating-number"></span> <!-- Don't delete. This element is necessary to jRating.js -->
						</span>
					</span>
					<div class="row d-flex pt-2 pl-3" style="height:200px;">
						<h6 class="pt-2">{% blocktrans %}Minimum order : {% endblocktrans%}{{product.order|floatformat }} pcs</6>
						{% if product.compare == True %}
							<div class="icheck-primary pt-3">
								<input type="checkbox" data-id="{{product.id}}"  id="check{{product.id}}" checked>
								<label for="check{{product.id}}"><b>{% blocktrans %}Compare{% endblocktrans%}</b></label>
							</div>
						{% else %}
							<div class="icheck-primary pt-3">
								<input type="checkbox" data-id="{{product.id}}"  id="check{{product.id}}">
								<label for="check{{product.id}}"><b>{% blocktrans %}Compare{% endblocktrans%}</b></label>
							</div>
						{% endif %}
					</div>
					<div class="detail-favorites-divider"></div>
					<h6 class="py-3"><center>{% if user.is_authenticated %}{% blocktrans %}Valora este producto{% endblocktrans%}{% else %}<a href="#" onclick="send_login()" >{% blocktrans %}Valora este producto{% endblocktrans%}</a>{% endif %}</center></h6>
					{% if user.is_authenticated %}
					    <center><div class="my-rating"></div></center>   
					{% else %}
					    <center><p>{% blocktrans %}Regístrate para valorar el producto{% endblocktrans%}</p></center>
					{% endif %}
					<br />
				</div>
				<div class="col-12 page">		
					<nav id="tabs-product">
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active ml-0" id="nav-productHome-tab" data-toggle="tab" href="#nav-productIn" role="tab" aria-controls="nav-productIn" aria-selected="true">{% blocktrans %}Product Detail{% endblocktrans%}</a>
							<a class="nav-item nav-link" id="nav-companyHome-tab" data-toggle="tab" href="#nav-companyIn" role="tab" aria-controls="nav-companyIn" aria-selected="false">{% blocktrans %}Company Detail{% endblocktrans %}</a>
						</div>
					</nav>
					<div class="tab-content mb-5" id="nav-tabContent">
						<!--Product Index-->
						<div class="tab-pane fade show active" id="nav-productIn" role="tabpanel" aria-labelledby="nav-home-tab">
								<!--product List-->
								<div class="row pt-3">
									{% if product.description %}
										<p>{{product.description|safe|escape}}</p>
									{% else %}
										<div class="m-4">{% blocktrans %}No existen productos{% endblocktrans%}</div>
									{% endif %}
								</div>
						</div>
						<!--./End product Index-->
						<!--Company List-->
						<div class="tab-pane fade" id="nav-companyIn" role="tabpanel" aria-labelledby="nav-comList-tab">
							<!--Company List-->
							<div class="col-12 pt-3">
								<div class="form-group">
									{% if descriptions %}
										{% for des in descriptions %}
											<div class="row pb-3"> 
												<div class="col-12 d-flex justify-content-between align-items-end">
													<h4 class="mb-0">{% blocktrans %}Sobre Nosotros{% endblocktrans%}</h4>
												</div>
											</div> 
											<div class="row home-text-nosotros">
												<div class="col-12">
												<h5>{{des.title|safe|escape }}</h5>
												<p>{{ des.paragraph|safe|escape }}</p>
												</div>
											</div>
											<div class="row pt-5">
												<div class="col-12">
												<h4>{% blocktrans %}Presentación{% endblocktrans %}</h4>
												</div>
											</div>
											<div class="row home-text-nosotros mb-5">
												<div class="col-12">
												<video width='100%' controls controlsList="nodownload">
													{% if des.video %}
														<source id="company-video-reload" src='{{ des.video.url }}' type='video/mp4' >
													{% else %}
														<source id="company-video-reload" src='' type='video/mp4' >
													{% endif %}
													{% blocktrans%}Su navegador no soporta la etiqueta de vídeo.{% endblocktrans %}
												</video>
												</div>
											</div>
										{% endfor %}
									{% else %}
										<div class="m-4">{% blocktrans %}No existen empresa{% endblocktrans%}</div>
									{% endif %}
								</div>
							</div>
						</div>
						<!--./End Company List-->
					</div>
				</div>
			</div>
			
		</div>
		<div class="col-md-4 col-lg-3 col-sm-12 m-4">
			<div class="row product_custom p-4">
				<div class="col-lg-12 col-sm-12 col-md-12" id="container-user-plus" data-contact-url="{% url 'ajax_add_contact' %}" novalidate>
					<h5 style="color: #df8771"><b>{% blocktrans %}Contacto{% endblocktrans %}</b></h5>
					<div class="d-flex justify-content-between align-items-center pt-3">
					    {% if product.company.logo %}
						    <a href="{% url 'my_web_home' product.company.id %}"><img src="{{product.company.logo.url}}" alt="" style="height:30px;width:auto;"></a>
						{% else %}
						    <a href="{% url 'my_web_home' product.company.id %}"><img src="{% static 'img/default.png' %}" alt="" style="height:30px;width:auto;"></a>
						{% endif %}
						<span>
							<a href="{% url 'my_web_home' product.company.id %}"> {{ product.company.name }}</a>
						</span>
						<div>
							<span style="font-size: 13px;">{{product.company.country_company.code2}}</span>&nbsp;<img src="{% static ''%}img/Banderas/{{product.company.country_company.code2|lower}}.png" style="height: 17px;width: 25px;" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{product.company.country_company.name}}" />
						</div>
					</div>
					<div class="row d-flex pt-3">
						<div class="col-md-3 detail-contact-center">
							<p>{% blocktrans %}Contacto: {% endblocktrans %}</p>
						</div>
						{% for x in owner %} 
						    <div class="col-md-6 d-flex padding-user-detail">
							    <p><strong>{{ x.first_name }} {{ x.last_name }}</strong><p>
								{% if x.id in contactscontext %}
									<!--Nothing here-->
							    {% else %}
							        {% if x.id != user.id %}
						                {% if user.is_authenticated %}
						                    <p><button class="btn btn-primary mb-2" id="user-plus" value="{{ x.id }}" style="background-color: transparent;border: 0px solid transparent;padding-top: 0px;"><i class="fas fa-user-plus" style="color:grey;"></i></button></p>       
									    {% else %}
									        <p><button onclick="send_login()" class="btn btn-primary mb-2" value="" style="background-color: transparent;border: 0px solid transparent;padding-top: 0px;"><i class="fas fa-user-plus"></i></button></p>
									    {% endif %}
								    {% endif %}
								{% endif %}
							</div>
						{% endfor %}
					</div>
					{% for x in owner %}
					    {% if x.id != user.id %}
					        <!--Chat-->
					        <div class="d-flex flex-row chat_short_button">
						        {% if user.is_authenticated %}
						            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chat-rmodal"><i class="far fa-comment-alt"></i></button>
						        {% else %}
						            <button onclick="send_login()" class="btn btn-primary"><i class="far fa-comment-alt"></i></button>
						        {% endif %}
						        <span>&nbsp;&nbsp;</span>
						        <span class="mt-2">{% blocktrans %}Chat{% endblocktrans %}</span>
					        </div>
					        <!--./Chat-->
					        <!--Message-->
					        <div class="d-flex align-items-center detail-favorites-button">
						        {% if user.is_authenticated %}
						            <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#messenge-rmodal" style="border-radius: 113px 109px 110px 110px;
						-moz-border-radius: 113px 109px 110px 110px;
						-webkit-border-radius: 113px 109px 110px 110px;
						border: 0px solid #000000;"><i class="far fa-envelope pr-3"></i>{% blocktrans %}MANDAR MENSAJE{% endblocktrans%}</button>
						        {% else %}
						            <button onclick="send_login()" class="btn btn-primary mb-3"><i class="far fa-envelope pr-3"></i><a href="{% url 'view_login' %}?next={{request.path}}" style="color:white; text-decoration:none;border-radius: 113px 109px 110px 110px;
						-moz-border-radius: 113px 109px 110px 110px;
						-webkit-border-radius: 113px 109px 110px 110px;
						border: 0px solid #000000;">{% blocktrans %}MANDAR MENSAJE{% endblocktrans%}</a></button>
						        {% endif %}
					        </div>
					        <!--./Message-->
					    {% endif %}
					{% endfor %}
					<br />
				</div>
			</div>
			
		</div>
		<div class="col-md-1 col-lg-2"></div>
	</div>
    <!--Modal Message-->
	<div class="modal fade" id="messenge-rmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	        <div class="modal-content" style="border-radius: 10px;">
				<div class="modal-header" style="background-color: #7f9bcd; border-top-right-radius: 10px; border-top-left-radius: 10px;">
					<div class="d-flex align-items-center">
					    <i class="far fa-envelope pr-3 pl-3" style="color: white;"></i>
					    <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle">{% blocktrans %}Mensaje{% endblocktrans%}</h5>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
	            <div class="modal-body">
					{% for x in owner %}
	                    <object class="object-msg" width="100%" data="{% url 'message_modal' x.id product.id %}"></object>
					{% endfor %}
				</div>
	        </div>
	    </div>
    </div>
	<!--./Modal Message-->
	<!--Modal Chat-->
	<div class="modal fade" id="chat-rmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		    <div class="modal-content" style="border-radius: 10px;">
			    <div class="modal-header" style="background-color: #7f9bcd; border-top-right-radius: 10px; border-top-left-radius: 10px;">
					<h4 class="modal-title" style="color: white;" id="exampleModalLongTitle">{% blocktrans %}Chat{% endblocktrans %}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			    <div class="modal-body">
			        <object class="object-chat" width="100%" data="{% url 'messenger_modal_list' product.company.pk %}"></object>
				</div>
		    </div>
		</div>
	</div>
	<!--./Modal Chat-->
</div>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<!--Content-->
		<div class="modal-content">
			<!--Body-->
			<div class="modal-body mb-0 p-0">
				<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
					<video width='66%'  controls controlsList="nodownload" id='myvideo'>
						{% if product.video %}
							<source id="product-video-reload" src='{{ product.video.url }}' type='video/mp4'>
						{% else %}
						{% endif %}
							{% blocktrans %}Su navegador no soporta la etiqueta de vídeo.{% endblocktrans%}
					</video>
				</div>
			</div>
			<!--Footer-->
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">{% blocktrans %}CLOSE{% endblocktrans %}</button>
			</div>
		</div>
		<!--/.Content-->
	</div>
</div>
<script type="text/javascript">	
	$("#carousel-selector-3").click(function () {
		//document.getElementById('myvideo').play();
		$("#myvideo").trigger('pause');
	});
	$("#carousel-selector-2").click(function () {
		//document.getElementById('myvideo').play();
		$("#myvideo").trigger('pause');
	});
	$("#carousel-selector-1").click(function () {
		//document.getElementById('myvideo').play();
		$("#myvideo").trigger('pause');
	});
	$("#carousel-selector-0").click(function () {
		//document.getElementById('myvideo').play();
		$("#myvideo").trigger('pause');
	});
	
	$('#modal1').on('hidden.bs.modal', function (e) {
		$("#myvideo").trigger('pause');
    })
	$("#user-plus").click(function () {
		$("#user-plus").hide()
		var url = $("#container-user-plus").attr("data-contact-url");  
		var user_id = $(this).val();
		console.log(user_id);
		$.ajax({                      
			url: url,                    
			data: {
				'user_id': user_id      
			},
			success: function (data) {   
				$.notify("{% blocktrans %}Contacto agregado{% endblocktrans %}", "success");
			}
		});                                        
	});
    $("#favorito").click(function () {
		$("#favorito").hide()
		var url = $("#container-favorito").attr("data-contact-url");  
		var user_id = '{{request.user.id}}';
		var product_id = '{{product.id}}';
		console.log(user_id);
		$.ajax({
			url: url,
			data: {
				'product_id': product_id,
				'user_id': user_id      
			},
			success: function (data) {   
				$.notify("{% blocktrans %}Agregado a Favoritos{% endblocktrans %}", "success");
			}
		});                                        
	});
</script>  
<script>
	/*Login chat and Message*/
	function send_login(){
		url = "{% url 'view_login' %}?next={{request.path}}";
		$(location).attr('href',url);
	}
	$(document).ready(function(){
		//Rating to info
		var valueRating = parseFloat("{{rating_product}}".replace(",", "."));
		if(valueRating-0.5 == 0.0) {
			new JRating(document.getElementById('jRating1'), 0, false);
		}
		else {
			if(valueRating-0.5 == 5.0) {
			    new JRating(document.getElementById('jRating1'), 1, false);
		    }
		    else {
				new JRating(document.getElementById('jRating1'), 0.5, false);
		    }
		} 
		//Rating to send
		if ('{{user.is_authenticated}}' == 'True'){
		    var token = '{{csrf_token}}';
		    var rating_user = '{{rating_user}}';
		    $(".my-rating").starRating({
			    starSize: 25,
			    initialRating: rating_user,
			    disableAfterRate: false,
			    useFullStars: true,
		    	totalStars: 5,
			    strokeWidth: 0,
			    emptyColor: '#D8D8D8',
				ratedColor: '#DF8771',
				hoverColor: '#DF8771',
                callback: function(currentRating, $el){
				    $.ajax({
					    headers: { "X-CSRFToken": token },
                        type: 'POST',
                        url: '',
                        data: 'ratingPoints='+currentRating+'&postID={{product.id}}',
                        success: function(msg) {
							if(msg = 'ok'){
								console.log('You have rated');
								$.notify("{% blocktrans %}Has puntuado:{% endblocktrans %} "+currentRating, "success");
								setTimeout(function(){
									location.reload();
								}, 2000);
							}
							else {
								console.log('Some problem occured, please try again.');
							}
                        }
                    });
                }
            });
		}
    });
</script>
<script>
	$(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
	$("#check{{product.id}}").change(function() {
		if(this.checked) {
			value = 1;
			id = $(this).data('id');
		}else{
			value = 0;
			id = $(this).data('id');
		}
		var my_url = "{% url 'ProductCompare' %}";
		var token = '{{csrf_token}}';
		$.ajax({
			headers: { "X-CSRFToken": token },
			type: 'POST',
			url: my_url,
			data: {
				'value': value,
				'id': id
			},
			
			success: function(msg){
				if(msg == "OK"){
					location.reload();
				}
			}
		});
	});
</script>
{% endblock %}