{% extends "dashboard_admin.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="col-12 col-lg-10 background">
	<div class="container">
		<div class="row d-flex align-items-end pt-4">
			<div class="col-12">
				<h1 class="text-center">{% blocktrans %}Contraseña reestablecida correctamente.{% endblocktrans %}</h1>
				<p class="text-center"><a href="{% url 'view_login' %}">{% blocktrans %}Iniciar Sesión{% endblocktrans %}</a></p>
			</div>
		</div>
	</div>
</div>
<script>
	$("td").addClass("align-middle")
</script>
{% endblock %}