{% extends "dashboard_admin.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="col-12 col-lg-10 background">
	<div class="container">
		<div class="row d-flex align-items-end pt-4">
			<div class="col-12">
                {% if validlink %}
                    <h1>{% blocktrans %}Restablecer Contraseña{% endblocktrans %}</h1>
				    <form method='post'>
                        {% csrf_token %} 
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% blocktrans %}Nueva contraseña{% endblocktrans %}:</label>
                        {{ form.new_password1 }}
	                    {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% blocktrans %}Confirme contraseña{% endblocktrans %}:</label>
                        {{ form.new_password2 }}
                        <input type="submit" value="Guardar"/>
                    </form>
                {% else %}
                    <h1 class="text-center">{% blocktrans %}Este enlace ya ha sido utilizado. Solicite al administrador del sistema un nuevo link{% endblocktrans %}.</h1>
                {% endif %}
			</div>
		</div>
	</div>
</div>
<script>
	$("td").addClass("align-middle")
</script>
{% endblock %}