{% extends "dashboard_admin.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="col-12 col-lg-10 background">
	  <div class="container">
		    <div class="row d-flex align-items-end pt-4">
			      <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                            <form class="formulario-restablecer" action="." method="POST" >
                                <div style="display:none">
                                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                </div>
                                <div class="form-group">
          	                        <h5>{% blocktrans %}Por favor confirme el email para enviarle las instrucciones de reestablecimiento de contraseña{% endblocktrans %}.</h5>
                                    <label for="exampleInputEmail1">{% blocktrans %}Direccion de correo eletrónico{% endblocktrans %}</label>
                                    {{ form.email.errors }}
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" {{ form.email }}
                                </div>
          	                    <div class="d-flex justify-content-center pt-4">
          		                      <button type="submit" class="btn btn-primary formulario-restablecer-buttom">{% blocktrans %}Enviar{% endblocktrans %}</button>
      		                      </div>
                            </form>
                        </div>
                        <div class="col-md-1 col-lg-2"></div>
                    </div>
                </div>
			      </div>
		    </div>
	  </div>
</div>
<script>
	  $("td").addClass("align-middle")
</script>	
{% endblock %}