{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="form-row" id="select_desactivado">
	<div class="col-12 col-sm-4 pb-4 pb-md-4">
		<label for="inputState">{% blocktrans %}1-Seleccione el Idioma{% endblocktrans %}</label>				
		<select name="language2" id="language2" class="form-control">							
			<option value="4">{% blocktrans %}Español (es){% endblocktrans %}</option>
			<option value="3">{% blocktrans %}Inglés (en){% endblocktrans %}</option>
		    <option value="2">{% blocktrans %}Alemán (de){% endblocktrans %}</option>
			<option value="5">{% blocktrans %}Francés (fr){% endblocktrans %}</option>
			<option value="6">{% blocktrans %}Italiano (it){% endblocktrans %}</option>
			<option value="7">{% blocktrans %}Portugués (pt){% endblocktrans %}</option>
			<option value="9">{% blocktrans %}Japonés (ja){% endblocktrans %}</option>
			<option value="8">{% blocktrans %}Chino Simplificado (zhs){% endblocktrans %}</option>
			<option value="1">{% blocktrans %}Chino Tradicional (zh){% endblocktrans %}</option>
		</select>
	</div>
	<style>
		.select2-container {
			min-width: 1em !important;
		}
		.select2-container .select2-selection--single {
			height: 38px !important;
		}
	</style>
	<div class="col-12 col-sm-4" id="select_desactivado">
		<label for="inputState">{% blocktrans %}2-Seleccione la Palabra Clave{% endblocktrans %}</label>
		<select name="keywords_select" required="" id="keywords_select" class="form-control">
			<option value="0">{% blocktrans %}Seleccione...{% endblocktrans %}</option>
			{% for key in keywords %}
				<option value={{key.pk}}>{{key.name}}</option>
			{% endfor %}
		</select>						
	</div> 						
	<style>
		.select2-container {
			min-width: 1em !important;
		}
		.select2-container .select2-selection--single {
			height: 38px !important;
		}
	</style>
	<div id="products" class="mt-4 mt-md-0 text-justify">
		<div class="col-12 col-sm-12" style="padding-left: 0px !important;">
			<label>{% blocktrans %}3-Seleccione los Productos{% endblocktrans %}</label>
		</div>
		<div class="col-12 col-sm-8 pb-5">
			<span style="color: #b6b5b5 ;font-size: 14px;">{% blocktrans %}Los productos marcados abajo son lo que apareceran por defecto como resultado de la busqueda de la palabra clave seleccionada. Si quiere modificar los productos, marque los que quiera dar mayor visibilidad{% endblocktrans %}.</span>
		</div>
	</div>
</div>
<div id="listado"></div>
<script type="text/javascript">
	$('#keywords_select').change(function(){
		var token = '{{csrf_token}}';
		var my_url = "{% url 'ajax_productoadministrar_listado' %}";
		var userid= '{{request.user.pk}}';
		var keyid= $("#keywords_select").val();
		if($("#keywords_select").val()==0){
			$.notify("{% blocktrans %}Escoja una palabra!{% endblocktrans %}", "error");
		}
		else{
			$.ajax({   
				headers: { "X-CSRFToken": token }, 
				type: 'POST',                  
				url: my_url,
				data: {
					'userid': userid,
					'keyid': keyid,     
				},
				success: function (data) {  
					$("#listado").html(data);
				}
			});
		}
		
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
	 	$("#language2").val( "{{language_select.pk}}" );
	 });
</script>
<script type="text/javascript">
	$('#language2').change(function(){
		var token = '{{csrf_token}}';
		var my_url = "{% url 'keywords_administrar' %}";		
		$.ajax({
			headers: { "X-CSRFToken": token },
            type: 'POST',
            url: my_url,
			data: { "language_pk": $("#language2").val() },
			success: function(data){
				$('#select_desactivado').hide();
				$('#products').hide();
				$("#myselect").html(data);
			}
		});
	});
</script>
{% endblock %}