{% extends "dashboard_admin.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/custom-product.css' %}">
<div class="col-12 col-lg-10 background">
	<div class="row pb-1">
		<div class="col-lg-3 col-sm-4 col-md-3 pt-3">
			<h5 class="text-home-job">{% blocktrans %}Propuestas economicas{% endblocktrans %}</h5>
		</div>
		<div class="col-lg-3 col-sm-4 col-md-3">
			<a class="btn btn-primary" href="{% url 'economic-proposal-create' %}"><i class="fas fa-plus"></i> {% blocktrans %}AÑADIR PROPUESTA {% endblocktrans %}</a>
		</div>
		<div class="col-lg-4 col-sm-4 col-md-6 m-1">
			<div class="input-group flex-nowrap">
				<input id="search_proposal" type="search" class="form-control input-right-border" placeholder={% blocktrans %}"Buscar"{% endblocktrans%} id="buscar">
				<div class="input-group-prepend">
					<span class="input-group-text my_cursor" id="buscar-fa"><i class="fa fa-search fa-flip-horizontal" style="color: #7f9bcd;"></i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="title-seperator row mb-4"></div>
	<div class="row py-4">
		<div class="col-12 col-md-9">
			<div id="contact-table">
				<table class="table table-responsive-md">
					<thead>
					    <tr>
						    <th scope="col">{% blocktrans %}Titulo{% endblocktrans%}</th>
                            <th scope="col">{% blocktrans %}Usuario{% endblocktrans%}</th>
                            <th scope="col">{% blocktrans %}Oportunidad{% endblocktrans%}</th>
                            <th scope="col">{% blocktrans %}Fecha{% endblocktrans%}</th>
                            <th scope="col">{% blocktrans %}Validado{% endblocktrans%}</th>
						    <th scope="col" class=" text-center">{% blocktrans %}Modificar{% endblocktrans%}</th>
					    </tr>
					</thead>
					<tbody>
					    {% if proposal_commercial %}
					        {% for proposal in proposal_commercial %}			
					            <tr class="align-middle">
						            <td class="align-middle">{{proposal.commercial_oppor.title}}</td>
                                    <td class="align-middle">{{proposal.commercial_oppor.user.username}}</td>
                                    <td class="align-middle">{{proposal.opportunity}}</td>
						            <td class="align-middle">{{proposal.commercial_oppor.edit_date}}</td>
									{% if proposal.commercial_oppor.validata == 'True' %}
                                    	<td class="align-middle"><span class="badge badge-primary" style="background-color: #7e9acd !important;">{% blocktrans %}ACEPTADO{% endblocktrans%}</span></td>
									{% else %}
										<td class="align-middle"><span class="badge badge-danger" style="background-color: #7e9acd !important;">{% blocktrans %} NO {% endblocktrans%}</span></td>
									{% endif %}
						            <td class="text-center" style="vertical-align: middle">
								        <!--a href="{% url 'economic-proposal-update' proposal.commercial_oppor_id %}"><i class="pl-2 fas fa-pen"></i></a-->
								        <a href="#" data-toggle="modal" onclick="delete_proposal({{proposal.commercial_oppor_id}})"><i class="pl-3 fas fa-trash-alt"></i></a>
						            </td>
						        </tr>
					        {% endfor %}
					    {% else %}
						    <td>{% blocktrans %}No existen proposals{% endblocktrans %}</td>
					    {% endif %}
					</tbody>
				</table>
				<script>
				    $("#search_proposal").keyup(function(){
					    _this = this;
					    // Show only matching TR, hide rest of them
					    $.each($("table tbody tr"), function() {
						    if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1){
							    $(this).hide();
						    }
						    else {
						        $(this).show();
						    }
				 	    });
				    });
			    </script>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</div>
<!--Delete Proposal-->
<div class="modal fade" id="delete-proposal-select" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog modal-xs">
		<div class="modal-content" style="border-radius: 25px;">
			<div class="modal-header" style="background-color: #7f9bcd; border-top-right-radius: 25px; border-top-left-radius: 25px;">
				<div class="d-flex align-items-center">
					<i class="fas fa-trash-alt icons_size_title_second"></i>
					<p class="modal-title ml-2 text_size_title_second" id="exampleModalLongTitle">&nbsp;&nbsp;{% blocktrans %}ELIMINAR PROPUESTA{% endblocktrans %}</p>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" style="color: #fff;">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-12 d-flex justify-content-center">
					<h5>{% blocktrans %}¿Está seguro que quiere eliminar este registro?{% endblocktrans %}</h5>
				</div>
			</div>
			<input type="hidden" id="proposal-select" value="-1" />
			<div class="modal-footer justify-content-center">
				<button id="delete-button" class="btn btn-primary datos-form-buttom mr-3" >{% blocktrans %}SI{% endblocktrans %}</button>
				<button data-dismiss="modal" class="btn btn-primary datos-form-buttom" >{% blocktrans %}NO{% endblocktrans %}</button>
			</div>
		</div>
	</div>
</div>
<script>
	function delete_proposal(id){
		$("#proposal-select").val(id);
		$("#delete-proposal-select").modal();
	}
	$('#delete-button').click(function(e){
		var value = $("#proposal-select").val();
		var url = '{% url "delete_proposal" %}';
		var token = '{{csrf_token}}';
		$.ajax({
			headers: { "X-CSRFToken": token },
			method: 'POST',
			url: url,
			data: {
				'value': value
			},
			success: function(data) {
				if(data == 'Ok') {
					location.reload();
				}
			}
		});
	});
</script>
{% endblock %}