{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="container" style="padding: 12em 1em 10em 1em;">
    <div class="row">
        <div class="col-12 col-sm-10 offset-md-1 col-lg-6 offset-lg-3">
            <form class="formulario" action="" method="post">
                <h6 style="text-align: center;">{% blocktrans %}Hemos enviado las instrucciones de cómo recuperar la contraseña a la dirección de correo electrónico especificado{% endblocktrans %}</h6>
				<h6 style="text-align: center;">{% blocktrans %}Estarás recibiendo el correo pronto{% endblocktrans %}.</h6>
            </form>
        </div>
        <div class="col-12 col-sm-10 offset-md-1 offset-lg-0 col-lg-3"></div>
    </div>
</div>
{% endblock %}