{% load i18n %}
{% autoescape off %}
    {% blocktrans %}Está recibiendo este correo porque solicitó un cambio de contraseña en{% endblocktrans %} {{ site_name }}.
    {% blocktrans %}Por favor diríjase a esta página y coloque su nueva contraseña{% endblocktrans %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% blocktrans %}Gracias por usar nuestro sitio!{% endblocktrans %}
    {{ site_name }}
{% endautoescape %}
 
