{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% include '../../slide.html' %}
{% load i18n %}
<div class="container pt-3">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <form class="formulario-restablecer pt-5 pb-3">
                <div class="form-group">
          	        <h5>{% blocktrans %}Tu contraseña ha sido definida. Ya puedes iniciar sesión de nuevo{% endblocktrans %}</h5>
			        <h5><a href="{% url 'view_login' %}">{% blocktrans %}Iniciar sesión{% endblocktrans %}</a></h5>
                </div>
            </form>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</div>
{% endblock %}