{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
{% include '../../slide.html' %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5">
            <form class="formulario-restablecer needs-validation" action="." method="POST" novalidate>
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <div class="form-group">
          	        <h5>{% blocktrans %}Especifique su email para enviarle las instrucciones para la recuperación de contraseña.{% endblocktrans %}</h5>
                    <label for="exampleInputEmail1">{% blocktrans %}Direccion de correo eletrónico{% endblocktrans %}</label>
                    {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{ form.email.errors|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <input type="text" class="form-control" id="exampleInputEmail1" autofocus {{ form.email }}
                    <div class="invalid-feedback">
                        {% blocktrans %}Introduzca un email válido{% endblocktrans %}
                    </div>
                </div>
          	    <div class="d-flex justify-content-center pt-4">
          		      <button type="submit" class="btn btn-primary formulario-restablecer-buttom">{% blocktrans %}Recuperar{% endblocktrans %}</button>
      		      </div>
            </form>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</div>
<script src="{% static 'js/app/validations.js' %}"></script>
{% endblock %}