{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="{% static 'css/easyAutocomplete.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_my_web.css' %}">
    <script src="{% static 'js/jquery-3.3.1.js' %}" type="text/javascript"></script>
    <title>{% blocktrans %}B2B Marketplace, B2B Portal for Medical Industry | Buy Online Medical Products at Wholesale Rate | B2B Pharmacy Website In UK – MedCombo{% endblocktrans%}</title>
    <style>
        @font-face{
            font-family: "Muli-SemiBold";
            src: url("https://fonts.googleapis.com/css?family=Poppins&display=swap") format("truetype");
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics --> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148356704-1"></script> 
    <script>   
        window.dataLayer = window.dataLayer || [];   
        function gtag(){
        dataLayer.push(arguments);}   
        gtag('js', new Date());
        gtag('config', 'UA-148356704-1'); 
    </script>
</head>
<body>
    <header id="header">
        <div class="container-fluid">
            <div class="row d-flex align-items-center" style="height: 6em;">
                <div class="col-5 col-sm-3 col-md-2" id="menu-logo">
                    <a href="/"><img class="img-fluid" src="{% static 'img/logo.png' %}" alt="Medi Hunt"></a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <script src="{% static 'bootstrap/js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/easyAutocomplete.js' %}" type="text/javascript"></script>
</body>
</html>