{% extends "dashboard_admin.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% blocktrans %}ELiminar{% endblocktrans%}{% endblock %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
{% block bottons %}
 <div id="panel-bottons">
    <div id="bottons"></div>
</div>      
{% endblock %}
{% block list %}
{% endblock %}
{% block content %}
<center>
   <br>
   <br>
   <h4>{% blocktrans %}Está usted seguro que desea eliminar este registro?{% endblocktrans%}</h4>
   <br>
   <br>
	<form action="." method="post" accept-charset="utf-8">
		{% csrf_token %}
		<p>
    		<a href="{% url 'list_users' %}">
    			<button type="button" class="btn btn-default">{% blocktrans %}Cancelar{% endblocktrans%}</button>
    		</a>
    		<button type="submit" class="btn btn-default" value="Confirmar">{% blocktrans %}Confirmar{% endblocktrans%}</button>
		</p>
	</form>    
</center>
{% endblock %}