{% extends "dashboard_client.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="col-12 col-lg-10 background">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12" id="contenido">
                  {% if object %}
	                  <!-- Jobs -->
	                  <div class="row m-0 list-fondo mt-0 mb-5 p-4">
		                  <div class="col-12 p-0">
                              <div class="col-12 text-bold-list text-size-list mt-3">
                                  {{object.name}}
                              </div>
                              <div class="col-12 d-md-flex mt-2 mb-2">
                                  <div class="col-lg-2 col-md-2 col-sm-12 text-bold-list">{{object.user.company}}</div>
                                  <div class="col-lg-2 col-md-2 col-sm-12 text-bold-list">{{object.city}}</div>
                                  <div class="col-lg-2 col-md-2 col-sm-12"><span>{{object.type_contract.name}}</span></div>
                                  <div class="col-lg-2 col-md-2 col-sm-12"><span>{{object.work_day.name}}</span></div>
                                  {% if object.show == False %}
                                    <div class="col-lg-2 col-md-2 col-sm-12"><span>{{object.salary_minimum}}&euro;-{{object.salary_maximum}}&euro;</span></div>
                                    <div class="col-lg-2 col-md-2 col-sm-12"><span>{% blocktrans %}Vacantes:{% endblocktrans %} {{object.places}}</span></div>
                                  {% else %}
                                    <div class="col-lg-2 col-md-2 col-sm-12"><span>{% blocktrans %}Vacantes:{% endblocktrans %} {{object.places}}</span></div>
                                  {% endif %}
                              </div>
                              <div class="list-separator ml-3 mr-3"></div>
                              <div class="col-12 mt-4 text-justify-list">
                                  <b>{% blocktrans %}Funciones del Puesto de Trabajo{% endblocktrans %}</b><br />{{object.assignment}}
                              </div>
                              <div class="col-12 mt-4 text-justify-list">
                                   <b>{% blocktrans %}Requisitos{% endblocktrans %}</b><br />{{object.requirements}}
                               </div>
                               <div class="col-12 mt-4 mb-5 text-justify-list">
                                    <b>{% blocktrans %}Se ofrece{% endblocktrans %}</b><br />{{object.advantages}}
                                </div>
                                <div>
                                    <div class="d-flex justify-content-center mt-4">
                                        <a href="{% url 'list_participants' object.pk %}" class="btn btn-primary datos-form-buttom mr-3">{% blocktrans %}CANDIDATOS{% endblocktrans %}</a>
                                        <a href="{% url 'list_offers' %}" class="btn btn-primary datos-form-buttom">{% blocktrans %}REGRESAR{% endblocktrans %}</a>
                                    </div>
                                </div>
                    {% else %}
		                  <h4 class="text-primary">{% blocktrans %}Registro no encontrado{% endblocktrans %}</h4>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}